<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossas Aulas Disponíveis</title>
</head>
<body>

    <header>
        <img class = "logo-cabecalho" src="assets/img/logo.png" alt="Logo da SPARTA">
        <img class = "menu-da-logo" src="assets/img/menu.png" alt="Icone de menu">
    </header>

    <h1>Nossas Aulas Disponíveis</h1>

    <section class="section-aulas">
        <div class="div-karate">
            <h3>Karatê</h3>
            <img src="assets/img/Karate2.png" alt="Imagem de pessoas lutando karate">
            <img src="assets/img/Karate1.png" alt="Imagem de pessoas lutando karate">
            <img src="assets/img/karate3.png" alt="Imagem de pessoas lutando karate">
            <div class="texto-do-karate">
                <ul class = "ul-aulas">
                    <li>Benefícios do Karatê</li>
                    <li>Físicos: Melhora o condicionamento, força, equilíbrio, postura e saúde cardiovascular.</li>
                    <li>Mentais: Desenvolve disciplina, foco, autocontrole e autoconfiança.</li>
                    <li>Emocionais: Ajuda no controle de estresse e das emoções.</li>
                    <li>Sociais: Ensina respeito, ética, trabalho em equipe e fortalece o senso de comunidade.</li>
                </ul>
            </div>
        </div>

        

        <div class="div-muay-thai">
            <h3>Muay Thai</h3>
            <img src="assets/img/Muay2.png" alt="Imagem de pessoas lutando muay thai">
            <img src="assets/img/muay1.png" alt="Imagem de pessoas lutando muay thai">
            <img src="assets/img/muay3.png" alt="Imagem de pessoas lutando muay thai">
            <div class="texto-do-muay-thai">
                <ul class = "ul-aulas">
                    <li>Benefícios do Muay Thai</li>
                    <li>Físicos: Melhora o condicionamento físico e cardiovascular. Queima muitas calorias (ótimo para emagrecimento). Tonifica e fortalece todo o corpo.</li>
                    <li>Mentais e Emocionais: Reduz o estresse e a ansiedade. Aumenta a flexibilidade, equilíbrio e coordenação.</li>
                    <li>Sociais: Desenvolve disciplina, foco e autocontrole.</li>
                </ul>
            </div>
        </div>

        

        <div class="div-boxe">
            <h3>Boxe</h3>
            <img src="assets/img/boxe1.png" alt="Imagem de pessoas lutando boxe">
            <img src="assets/img/boxe2.png" alt="Imagem de pessoas lutando boxe">
            <img src="assets/img/boxe3.png" alt="Imagem de pessoas lutando boxe">
            <div class="texto-do-boxe">
                <ul class = "ul-aulas">
                    <li>Benefícios do Boxe</li>
                    <li>Corpo: Emagrece, melhora o condicionamento, fortalece músculos e aumenta resistência.</li>
                    <li>Mente: Reduz o estresse, aumenta foco, disciplina e autoconfiança.</li>
                    <li>Social: Promove integração e estimula competitividade saudável.</li>
                </ul>
            </div>
        </div>

        

        <div class="div-pilates">
            <h3>Pilates</h3>
            <img src="assets/img/pilates1.png" alt="Imagem de pessoas praticando pilates">
            <img src="assets/img/pilates2.png" alt="Imagem de pessoas praticando pilates">
            <img src="assets/img/pilates3.png" alt="Imagem de pessoas praticando pilates">
            <div class="texto-do-pilates">
                <ul class = "ul-aulas">
                    <li>Benefícios do Pilates</li>
                    <li>Corpo: Fortalecimento do core (abdômen e lombar), melhora da postura, aumento da flexibilidade e do equilíbrio.</li>
                    <li>Alívio de dores: Especialmente nas costas.</li>
                    <li>Redução do estresse: Melhora da respiração.</li>
                </ul>
            </div>
        </div>

        

        <div class="div-zumba">
            <h3>Zumba</h3>
            <img src="assets/img/zumba1.png" alt="Imagem de pessoas praticando zumba">
            <img src="assets/img/zumba2.png" alt="Imagem de pessoas praticando zumba">
            <img src="assets/img/zumba3.png" alt="Imagem de pessoas praticando zumba">
            <div class="texto-do-zumba">
                <ul class = "ul-aulas">
                    <li>Benefícios da Zumba</li>
                    <li>Corpo: Queima muitas calorias, melhora o condicionamento físico, fortalece músculos e aumenta a coordenação motora.</li>
                    <li>Mente: Reduz o estresse, eleva o autoestima, melhora o humor e ajuda na memória para coreografias.</li>
                    <li>Social: É divertido, animado e favorece a socialização em grupo.</li>
                </ul>
            </div>
        </div>

        

        <div class="div-yoga">
            <h3>Yoga</h3>
            <img src="assets/img/yoga1.png" alt="Imagem de pessoas praticando yoga">
            <img src="assets/img/yoga2.png" alt="Imagem de pessoas praticando yoga">
            <img src="assets/img/yoga3.png" alt="Imagem de pessoas praticando yoga">
            <div class="texto-do-yoga">
                <ul class = "ul-aulas">
                    <li>Benefícios do Yoga</li>
                    <li>Melhora: Da flexibilidade, postura e força muscular.</li>
                    <li>Aumento: Da capacidade respiratória e energia.</li>
                    <li>Redução: Do estresse e da ansiedade.</li>
                    <li>Promoção: Do equilíbrio emocional, autoconhecimento e paz interior.</li>
                    <li>Social: Esses benefícios contribuem para uma vida mais saudável, equilibrada e feliz.</li>
                </ul>
            </div>
        </div>

    </section>

    <footer>
        <img class = "logo-footer" src="assets/img/logo.png" alt="Logo do rodapé">
        <img class = "redes-sociais" src="assets/img/RedesSociais.png" alt="Redes Sociais">
        <p>&copy; SPARTA. Todos os direitos reservados.</p>
    </footer>


</body>
</html>
