<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Sparta - Área do Professor</title>
</head>

<body>
    <header class="header">
        <div class="logo-cabecalho">
            <img class="logo-cabecalho" src="assets/img/logo.png" alt="Logo da SPARTA">
        </div>
        <nav class="nav">
            <a href="homecomusuario.html">HOME</a>
        </nav>
    </header>

    <main class="main-aluno">
        <div class="container-aluno">
            <h1 class="titulo-aluno">Página Professor - Aulas</h1>

            <section class="perfil-info">
                <p class="saudacao">Olá, João <span class="icone-editar"><a href="editar-professor.html"><img src="assets/img/Iconeeditar.png" alt="Editar Perfil"></a></span></p>
                <div class="opcoes-aluno">
                    <button class="btn-sair">
                        <a href="login.html" class="link-sair">
                            <img src="assets/img/sair 1.png" alt="Sair" class="img-sair"> Sair
                        </a>
                    </button>
                </div>
            </section>

            <section class="cards-resumo">
                <div class="card-resumo">
                    <p>Total de Aulas</p>
                    <span class="numero-resumo">1</span>
                </div>
                <div class="card-resumo">
                    <p>Aulas liberadas</p>
                    <span class="numero-resumo">2</span>
                </div>
            </section>

            <section class="grade-aulas">
                <div class="abas-grade">
                    <button class="aba-botao ativo">Aulas</button>
                    <a href="pagina-professor-relatorios.html" class="aba-botao">Relatórios</a>
                </div>

                <div class="conteudo-grade">
                    <h2 class="titulo-grade">Aulas</h2>
                    <p class="subtitulo-grade">Gerencie a grade de aulas da academia</p>

                    <h3 class="dia-semana">Quarta-Feira</h3>

<div class="card-aula-professor pilates">
    <div class="card-header-prof">
        <span class="nome-aula pilates">Pilates</span> 
        
        <div class="acoes-aula-prof">
            <a href="editar-aula.html" class="icone-acao">
                <img src="assets/img/Iconeeditar.png" alt="Editar" class="img-acao">
            </a> 
            <button class="btn-deletar-aula icone-acao">
                <img src="assets/img/Iconeeditar.png" alt="Excluir" class="img-acao">
            </button> 
        </div>
    </div>

    <div class="detalhes-aula-prof-vertical">
        <div class="info-professor-linha">
            <img src="assets/img/horário.png alt="Horário" class="icone-aula-prof">
            <span>9:00 - 10:20</span>
        </div>
        <div class="info-professor-linha">
            <img src="assets/img/Lotaçãototal.png" alt="Lotação" class="icone-aula-prof">
            <span>0/15</span>
        </div>
    </div>
</div>

<div class="adicionar-aula">
    <span>Adicionar aula</span>
    <a href="adicionar-aula.html" class="icone-adicionar">
        <img src="assets/img/Iconeeditar.png" alt="Adicionar" class="img-adicionar">
    </a>
</div>
    </main>

    <footer>
        <img class="logo-footer" src="assets/img/logo.png" alt="Logo do rodapé">
        <img class="redes-sociais" src="assets/img/RedesSociais.png" alt="Redes Sociais"> 
        <p>&copy; SPARTA. Todos os direitos reservados.</p>
    </footer>

    <script src="assets/js/app.js"></script>
</body>
</html>